<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <form action="/login" method="POST">
            Name: <input type="text" name="username">
            <input type="text" value="bar" name="password" placeholder="password" style="display: none;">
            <button type="submit"> Submit </button>
        </form>
    </div>
    
</body>
</html>